@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background: rgb(246, 246, 247);
  font-family: 'Roboto';
  box-sizing: border-box;
  font-size: 14px;
}

body * {
  user-select: none;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: none;
  font-size: 14px;
  padding: 4px 10px;
  margin: 0 5px;
  border-radius: 4px;
}

button:hover:not([disabled]) {
  border: 1px solid rgba(0, 0, 0, 0.9);
}

select {
  margin: 0 5px;
}

.header {
  text-align: center;
  margin-bottom: 32px;
}

.layout-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.layout-row input,
.layout-row select {
  margin: 4px;
}

.full-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  min-width: 400px;
  min-height: 300px;
}

.section {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
}

piano-keys {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.28);
  height: 100px;
  width: 100%;
}

.events-row {
  margin-top: 32px;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 28px;
}

.input-range {
  width: 40px;
}

label {
  font-family: monospace;
  font-weight: bold;
  color: #5c0000;
  white-space: nowrap;
}

input[type="color"] {
  margin-left: 8px;
  margin-right: 12px;
}

#colors-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#colors-container label {
  display: flex;
}

#colors-container label > span {
  flex-grow: 1;
  margin: auto;
}

pre {
  background: #efefef;
  box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 8px;
}

#code {
  user-select: text;
  white-space: pre-wrap;
}
/*====================================*/
/*              Other
/*====================================*/
/* scrollbar */
/* http://webkit-scroll-gen.sourceforge.net/ */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #00000018;
  border: none;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000002d;
}

::-webkit-scrollbar-thumb:active {
  background: #00000042;
}

::-webkit-scrollbar-track {
  background: #00000000;
  border: none;
}

::-webkit-scrollbar-track:hover {
  background: #0000000c;
}

::-webkit-scrollbar-corner {
  background: transparent;
}