@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*====================================*/
/*              General
/*====================================*/

body {
  background: rgb(246, 246, 247);
  font-family: 'Roboto';
  box-sizing: border-box;
  font-size: 13px;
}

h1 {
  text-align: center;
  margin-bottom: 32px;
}

body * {
  user-select: none;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: none;
  font-size: 14px;
  padding: 4px 10px;
  margin: 0 5px;
  border-radius: 4px;
}

button:hover:not([disabled]) {
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.full-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  min-width: 400px;
  min-height: 300px;
}

.section {
  margin: auto;
  width: 80%;
}

piano-keys {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.28);
  height: 100px;
  width: 100%;
}

.events-row {
  margin-top: 32px;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 28px;
}

.input-range {
  width: 40px;
}

label {
  font-family: monospace;
  font-weight: bold;
  color: #5c0000;
  white-space: nowrap;
}

input[type="color"] {
  margin-left: 8px;
  margin-right: 12px;
}

#colors-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#colors-container label {
  display: flex;
}

#colors-container label > span {
  flex-grow: 1;
  margin: auto;
}
/*====================================*/
/*              Other
/*====================================*/

/* sliders */
/* http://danielstern.ca/range.css/#/ */

input[type=range] {
  -webkit-appearance: none;
  margin: 4.6px 0;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  box-shadow: 1px 1px 4px #0000002c inset;
  background: #00000005;
  border-radius: 10px;
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  background: #00000005;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00000015;
}
input[type=range]:focus::-webkit-slider-thumb {
  border: 1px solid #00000080;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6.9px;
  border: 0.2px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55), 0px 0px 1px rgba(13, 13, 13, 0.55);
  border: 0.5px solid rgba(0, 0, 0, 0.21);
  height: 18px;
  width: 16px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.07);
  border: 0.2px solid #000101;
  border-radius: 13.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.07);
  border: 0.2px solid #000101;
  border-radius: 13.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55), 0px 0px 1px rgba(13, 13, 13, 0.55);
  border: 0.5px solid rgba(0, 0, 0, 0.21);
  height: 18px;
  width: 16px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  height: 8.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.07);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0.07);
}

/* scrollbar */
/* http://webkit-scroll-gen.sourceforge.net/ */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #00000018;
  border: none;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000002d;
}

::-webkit-scrollbar-thumb:active {
  background: #00000042;
}

::-webkit-scrollbar-track {
  background: #00000000;
  border: none;
}

::-webkit-scrollbar-track:hover {
  background: #0000000c;
}

::-webkit-scrollbar-corner {
  background: transparent;
}